@font-face{
    font-family: humanist;
    src: url(../fonts/humanist-521-bold-condensed.otf) format('truetype');
}
body{
    background-image: url(../image/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: humanist !important;
}
#spinner-container{
    text-align: center;
}
.col-lg-12{
    text-align: center;
}

#derecha{
    float: right;
}
.datos{
    margin-top: 50px;
    background-color: #d6d2c7dd;
    padding: 20px;
    border-radius: 25px;
}

.buscador{
    padding: 0px 50px;
}
.btn{
    background-color: #747E30 !important;
    color: #fff !important;
}
.btn:hover{
    background-color: #525a26 !important;
    color: #f3f3f3 !important;
}

@media (max-width: 575px){
    .datos{
        margin-top: 50px;
        background-color: #d6d2c7dd;
        padding: 20px;
        border-radius: 25px;
    }
    .buscador{
        padding: 0px 20px 0px 0px;
    }
    body{
        font-size: 11px !important;
    }
    span, .btn{
        font-size: 12px !important;
    }
    input{
        font-size: 10px !important;
    }
}